<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>「寻觅」Android版</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/android.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div style="float: left; margin: 5px; margin-left: 10px">
            <a href="/"><img width="120" height="60" src="/static/logo_white.jpg"></a>
        </div>
        <div style="float: right;margin-right: 20px; color: white">
            <a href="/android" target="_blank" style="text-decoration:none; color: #0285f0">Android版</a>
            <span class="dot" style="margin-right: 5px;margin-left: 5px">·</span>
            <a href="/about" target="_blank" style="text-decoration:none; color: #0285f0">About</a>
        </div>
    </div>
    <div id="body">
        <div style="text-align: center"><h1 style="color: white">寻觅，网盘搜索</h1></div>
        <div id="pic" style="text-align: center">
            <img style="width: 360px; height: 640px" src="/static/app1.png">
            <img style="width: 360px; height: 640px" src="/static/app2.png">
            <img style="width: 360px; height: 640px" src="/static/app3.png">
        </div>
        <div id="content">
            <h2 style="color: white">寻觅官方群号：230332840</h2>
            <div id="android"><a style="text-decoration: none" href="http://yun.baidu.com/s/1kTMIX63"><h4 style="color: #0285f0">寻觅android版</h4></a></div>
        </div>
        

    </div>
    <div id="footer">
        <span style="color: darkgrey">Copyright © 2015 egrcc. All Rights Reserved</span>
    </div>
</div>
</body>

</html>