<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link href="/static/search.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<div id="container">

    <div id="header">
        <div style="float: left; margin: 5px; margin-left: 10px">
            <a href="/"><img width="69" height="30" src="/static/searchlogoblue.png"></a>
        </div>
        <div style="float: right;margin-right: 20px; color: white">
            <a href="/android" target="_blank" style="text-decoration:none; color: white">Android版</a>
            <span class="dot" style="margin-right: 5px;margin-left: 5px">·</span>
            <a href="/about" target="_blank" style="text-decoration:none; color: white">About</a>
        </div>
    </div>

    <div class="search-form">
        <div style="float: left; margin-top: -5px">
            <a href="/"><img width="90" height="45" src="/static/logo_white.jpg"></a>
        </div>
        <div>
            <form name="search" action="{{ url_for('search') }}" method=get id="search">
                <input class="search-key" type="search" name="q"/>
                <input class="submit" type="submit" value="寻觅一下"/>
            </form>
        </div>
    </div>

    <div id="body">


        {% for result in results %}
            <div class="result-item">
                <div style="padding: 10px">
                    <a style="text-decoration:none" href="{{ result[1] }}"><h3
                            style="color: #0285f0">{{ result[0] }}</h3></a>
                    <a style="text-decoration:none; color: #626262" href="{{ result[1] }}">{{ result[1] }}</a>
                </div>
            </div>
        {% endfor %}

        <div class="button">
            <a style="text-decoration:none; color: #0285f0" href={{ pageup_url }}><b>上一页</b></a>
            <span class="dot" style="margin-left: 60px; margin-right: 60px"></span>
            <a style="text-decoration:none; color: #0285f0" href={{ pagedown_url }}><b>下一页</b></a>
        </div>


    </div>

    <div id="footer">
        <span style="color: darkgrey">Copyright © 2015 egrcc. All Rights Reserved</span>
    </div>

</div>
</body>
</html>